# Override values for prometheus-community/kube-prometheus-stack.
fullnameOverride: monitoring

defaultRules:
  create: true

grafana:
  enabled: true
  defaultDashboardsEnabled: true
  defaultDashboardsEditable: true
  defaultDashboardsTimezone: browser
  persistence:
    enabled: true
    storageClassName: "${storage_class_name}"
    accessModes:
      - ReadWriteOnce
    size: 5Gi
  sidecar:
    dashboards:
      enabled: true
      searchNamespace: ALL
    datasources:
      enabled: true
      searchNamespace: ALL
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

prometheus:
  enabled: true
  prometheusSpec:
    retention: 15d
    retentionSize: 18GB
    resources:
      requests:
        cpu: 500m
        memory: 1Gi
      limits:
        cpu: "1"
        memory: 2Gi
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: "${storage_class_name}"
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 20Gi

alertmanager:
  enabled: true
  alertmanagerSpec:
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 250m
        memory: 256Mi
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: "${storage_class_name}"
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 5Gi

kube-state-metrics:
  enabled: true

prometheus-node-exporter:
  enabled: true

kubelet:
  enabled: true
  serviceMonitor:
    cAdvisor: true
    probes: true
